@{
    ViewData["Title"] = "Home Page";
}

    <h1 class="display-4 text-center">Esercizio 1</h1>
    <div>
        <p>Creare un nuovo controller StudentiController con una action che mostra una pagina con una tabella che mostra la lista degli studenti con il relativo sport praticato.</p>
    </div>

